
*{
  box-sizing:border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    body{
        margin: 2.5rem auto;
        max-width: 975px;
    }

p{
    font-size: 1.25rem;
}
    .annotationNotes{
        font-size: 1rem;
    }

    ul{
        margin: 0;
    }

    .headers{
        color: rgb(111, 92, 158);
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .underline{
        text-decoration: underline;
    }

    .imgNumb{
        font-size: 1.25rem;
        margin-bottom: 0;
    }

hr{
    margin: 1rem auto;
}

    img{
        border: .2rem solid rgb(111, 92, 158);
        width: 75%;
        height: auto;
        display:flex;
        align-items:center;
        justify-content:center;
    }

/*For Build*/
    
#Build{
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
}
    .annotatedLyric{
            background-color: rgb(233, 233, 233);
            padding: 0.2rem auto;
        }
            a.annotatedLyric:hover{
                background-color: rgb(164, 148, 204);
                cursor: pointer;
            }

            .clicked{
                background-color: rgb(164, 148, 204);
            }
.annotation-pop-up{
    border-left: .2rem solid black;
    padding-left: .5rem;
}

    .annotationHeader{
        display: grid;
        grid-template-columns: 2fr 1fr;
        vertical-align: middle;
    }
        .contributorCount{
            font-weight: normal;
            text-decoration: underline;
        }
        
        h4{
            margin: .5rem 0;
        }


.hideMe{
    display: none;
}

@media screen and (min-width: 1000px) {
/*For dual column*/

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .column{
            float: left;
        }

/*For image formatting*/
    .imgTitle{
        text-align: center;
    }

    .imgBlock{
        display: grid;
        grid-template-columns: 30rem 30rem;
        grid-row: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-self: center;
    }
        img{
            width: 100%;
            height: auto;
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }